{minimum_otp_vsn, "29.0"}.

{erl_opts, [debug_info, warnings_as_errors]}.

{shell, [
    {apps, [schlusselwert]},
    {config, "config/dev.config"}
]}.

{plugins, [
    {erlfmt, {git, "https://github.com/WhatsApp/erlfmt.git", {tag, "v1.8.0"}}}
]}.

{erlfmt, [
    {files, ["rebar.config", "config/*.config", "priv/*.config", "{src,test,bench}/*.erl"]}
]}.

{eunit_opts, [verbose]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling, underspecs]},
    {plt_apps, all_deps},
    {plt_extra_apps, [eunit]}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, {git, "https://github.com/proper-testing/proper.git", {tag, "v1.5.0"}}}
        ]}
    ]},
    {bench, [
        {erl_opts, [debug_info, {d, 'BENCH'}]}
    ]}
]}.
