{minimum_otp_vsn, "29.0"}.

{erl_opts, [debug_info, warnings_as_errors]}.

{shell, [
    {apps, [schlusselwert]},
    {config, "config/dev.config"}
]}.

{plugins, [
    {erlfmt, {git, "https://github.com/WhatsApp/erlfmt.git", {tag, "v1.8.0"}}}
]}.

{erlfmt, [
    {files, ["rebar.config", "config/*.config", "priv/*.config", "{src,test,bench}/*.erl"]}
]}.

{eunit_opts, [verbose]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling]},
    {plt_apps, all_deps},
    {plt_extra_apps, [eunit]}
]}.

{relx, [
    {release, {schlusselwert, "0.1.0"}, [schlusselwert]},
    {dev_mode, false},
    {include_erts, true},
    {include_src, false},
    {sys_config, "config/prod.config"}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, {
                git,
                "https://github.com/proper-testing/proper.git",
                {ref, "eaa5eee5319478954e80bc7c16614d507f7842b4"}
            }}
        ]}
    ]},
    {bench, [
        {src_dirs, ["src", "bench"]},
        {erl_opts, [debug_info, {d, 'BENCH'}]}
    ]}
]}.
